aiopulsar-py==0.1.0a0
fastapi==0.115.0
uvicorn[standard]==0.30.6
pulsar-client==3.7.0
pulsar-client[avro]==3.7.0
requests==2.32.3
strawberry-graphql==0.240.0
python-dotenv==1.0.1
pydantic<2
packaging>=23
